@model LearnSchoolApp.Entities.ProjectProposal
<h4>ProjectProposal</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-action="CreateProjectProposal">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="proposalPdfUrl" class="control-label"></label>
                    <input asp-for="proposalPdfUrl" class="form-control" />
                    <span asp-validation-for="proposalPdfUrl" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isPass" /> @Html.DisplayNameFor(model => model.isPass)
                    </label>
                </div>*@
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload</p>
                        <input asp-for="proposalPdf" class="form-control" accept=".pdf" type="file" />
                    </div>
                    <input class="form-control" asp-for="projectId" hidden />
                    <input class="form-control" asp-for="proposalPdfUrl" hidden />
                    <input class="form-control" asp-for="isPass" hidden />
                </div>
                <div class="form-group">
                    <input type="submit" value="UPLOAD" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

@*<div class="container">
    @using (Html.BeginForm("CreateProjectProposal", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-group col-6">
                <input class="form-control" asp-for="projectId" hidden/>
                <input class="form-control" asp-for="proposalPdfUrl" hidden/>
                <input class="form-control" asp-for="isPass" hidden/>

                <input type="file" class="form-control" name="proposalPdf" />
            </div>
            <div class="form-group col-6">
                <input type="submit" class="btn btn-secondary" value="Upload" />
            </div>
        </div>
    }
</div>*@