@model LearnSchoolApp.Entities.Project

<html>
<head>
    <style>
        body {
            text-align: left;
            background-image: url(https://media.istockphoto.com/vectors/watercolor-seamless-background-with-green-hexagon-tiles-vector-id1212124417?k=20&m=1212124417&s=612x612&w=0&h=DQ_M1UGj4e2JiJDs8SGJ3RgIk_8myxNuGtyb2OKQFeI=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        footer {
            background: rgb(255 255 255 / 80%);
        }

        table {
            box-shadow: 0 10px 10px #033740;
        }

        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #c0bd4f;
        }

        tr:nth-child(2n+1) {
            background-color: #e7eae3;
        }

        input[type=text], input[type=number], input[type=password], input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>פרויקט</h4>
        <hr />
        <p>
            @{
                if (User.IsInRole("HeadOfDeprament"))
                {
                    @Html.ActionLink("חזרה לפרויקט", "Details", new { id = Model.Id })
                }
                else if (User.IsInRole("Guid"))
                {
                    @Html.ActionLink("חזרה לרשימת הפרויקטים", "MyProjects", "Guide", new { id = Model.guideId })
                }
                else if (User.IsInRole("Student"))
                {
                    @Html.ActionLink("חזרה לפרויקט", "GetProject", "Student", new { id = Model.studentId })
                }
            }
        </p>
    </div>
    <center>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        הצעת פרויקט
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="display:flex;justify-content:center;align-items:center">
                            <img width="50%" src="data:image/png;base64,@Model.PDF" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
