@model LearnSchoolApp.Entities.HeadOfDeprament

<html>
<head>
    <style>
        body {
            text-align: left;
            background-image: url(https://media.istockphoto.com/vectors/watercolor-seamless-background-with-green-hexagon-tiles-vector-id1212124417?k=20&m=1212124417&s=612x612&w=0&h=DQ_M1UGj4e2JiJDs8SGJ3RgIk_8myxNuGtyb2OKQFeI=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        footer {
            background: rgb(255 255 255 / 80%);
        }

        table {
            box-shadow: 0 10px 10px #033740;
        }

        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #c0bd4f;
        }

        tr:nth-child(2n+1) {
            background-color: #e7eae3;
        }

        input[type=text], input[type=number], input[type=password], input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>ראש מגמה</h4>
        <hr />
        <p>
            <a asp-action="Index">חזרה לרשימה</a>
        </p>
        @{
            if (User.IsInRole("Admin"))
            {
                <p>
                    @Html.ActionLink("החלפת סיסמה", "EditPassword", new { id = Model.userId })
                </p>
            }
        }
    </div>
    <center>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <input type="number" asp-for="userId" class="form-control" disabled />
                            <span asp-validation-for="userId" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="userId" class="control-label">ת"ז</label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" asp-for="name" class="form-control" disabled />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="name" class="control-label">שם</label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" asp-for="username" class="form-control" disabled />
                            <span asp-validation-for="username" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="username" class="control-label">שם משתמש</label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="email" asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="email" class="control-label">מייל</label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="number" asp-for="phone" class="form-control" />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="phone" class="control-label">מס' טלפון</label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input class="form-check-input" asp-for="isGuid" />
                        </td>
                        <td>
                            <b><label class="form-check-label">מנחה</label></b>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <div class="form-group">
                                <input type="submit" value="שמירה" class="btn btn-primary" />
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </center>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
