@model LearnSchoolApp.Entities.Status

<h4>סטטוס</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="projectId" class="control-label"></label>
                <input asp-for="projectId" class="form-control" />
                <span asp-validation-for="projectId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="currentStatus" class="control-label"></label>
                <input asp-for="currentStatus" class="form-control" />
                <span asp-validation-for="currentStatus" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPass" /> אני מאשר
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="עדכן" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("חזרה לרשימת ההנחיות", "ProjectStatus", new { id = Model.projectId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
