@model LearnSchoolApp.Entities.Student

<h4>סטודנט</h4>
<div asp-validation-summary="None">
    @Html.ActionLink("החלפת סיסמה", "EditPassword", new { id = Model.Id })
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label">ת"ז</label>
                <input type="number" asp-for="userId" class="form-control" disabled />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">שם</label>
                <input type="text" asp-for="name" class="form-control" disabled/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label">שם משתמש</label>
                <input type="text" asp-for="username" class="form-control" disabled/>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">מייל</label>
                <input type="email" asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">מס' טלפון</label>
                <input type="number" asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="שמירה" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזרה לרשימה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
