@model LearnSchoolApp.Entities.Manager

<html>
<head>
    <style>
        body {
            background-size: cover;
            background-position: center;
            background-image: url(https://www.10wallpaper.com/wallpaper/2560x1600/1711/Study_desk_desk_lamp_notebook_Photo_HD_Wallpaper_2560x1600.jpg);
        }

        footer {
            background-color: #ddc4a8de;
        }

        h4 {
            text-shadow: 0 0 1em snow;
            color: wheat;
        }

        table {
            border-collapse: collapse;
            background-color: #f8f8f8;
            width: 100%;
            border-radius: 1em;
            box-shadow: 0 10px 10px #033740;
        }

        button {
            color: black;
            padding: 50px;
            text-align: center;
            text-decoration: double;
            display: inline-block;
            font-size: 20px;
            margin: 10px 5px;
            cursor: pointer;
            border-radius: 20%;
            width: 235px;
            height: 235px;
            box-shadow: 0 10px 10px #2b519f;
        }

        img {
            width: fit-content;
            height: fit-content;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>@Model.name שלום</h4>
        <hr />
    </div>
    <table>
        <tr>
            <td rowspan="3"><img src="https://www.visualinfomedia.com/images/web-development-banner.png" /></td>
            <td>
                <button style=" background-color:greenyellow;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">סטודנטים</a>
                </button>
            </td>
            <td>
                <button style=" background-color: dodgerblue;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">פרויקטים</a>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button style=" background-color:orange;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Guide" asp-action="Index">מנחים</a>
                </button>
            </td>
            <td>
                <button style=" background-color: brown;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="HeadOfDeprament" asp-action="Index">ראשי מגמה</a>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <button style="background-color: mediumpurple;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Index">מנהלים</a>
                </button>
            </td>
        </tr>
    </table>
</body>
</html>



