@model LearnSchoolApp.Entities.Status

<html>
<head>
    <style>
        body {
            text-align: left;
            background-image: url(https://media.istockphoto.com/vectors/watercolor-seamless-background-with-green-hexagon-tiles-vector-id1212124417?k=20&m=1212124417&s=612x612&w=0&h=DQ_M1UGj4e2JiJDs8SGJ3RgIk_8myxNuGtyb2OKQFeI=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        footer {
            background: rgb(255 255 255 / 80%);
        }

        table {
            box-shadow: 0 10px 10px #033740;
        }

        td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #c0bd4f;
        }

        tr:nth-child(2n+1) {
            background-color: #e7eae3;
        }

        input[type=text], input[type=number], input[type=password], input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h4>סטטסוס חדש</h4>
        <hr />
        <p>
            @Html.ActionLink("חזרה לרשימת הפרויקטים", "MyProjects", new { id = Model.userId })
        </p>
    </div>
    <center>
        <form asp-action="CreateStauts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tbody>
                    <tr hidden>
                        <td>
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="Id" class="control-label"></label></b>
                        </td>
                    </tr>

                    <tr hidden>
                        <td>
                            <input asp-for="projectId" class="form-control" />
                            <span asp-validation-for="projectId" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="projectId" class="control-label"></label></b>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input asp-for="currentStatus" class="form-control" />
                            <span asp-validation-for="currentStatus" class="text-danger"></span>
                        </td>
                        <td>
                            <b><label asp-for="currentStatus" class="control-label">הנחיה לגבי</label></b>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <div class="form-group">
                                <input type="submit" value="הוספה" class="btn btn-primary" />
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </center>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
