@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background-image: url("https://wallpapercave.com/wp/wp7182011.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        background: rgb(255 255 255 / 80%);
    }

    h1 {
        text-shadow: 0 0 0.3em blue;
    }

    hr {
        box-shadow: 0 0 0.3em blue;
    }

    .header-title {
        background: rgb(255 255 255 / 80%);
        box-shadow: 0 0 10px black;
        border-radius: 1em;
        padding: 1em 0.5em;
    }

    marquee {
        color: white;
        font-size: 1.3em;
        font-weight: 300;
        text-shadow: 0 0em 0.2em #1a1a1a;
        background-color: rgb(89 188 33);
        border-radius: 0.5em;
    }

    img {
        border-radius: 50%;
        box-shadow: 0 0 1em black;
        width: 25%;
        margin: 1em 0;
    }
</style>

<div class="text-center header-title">
    <h1 class="display-4">Login</h1>
    <hr />
    <marquee behavior="scroll" direction="right" scrollamount="12">😎 | Learn School For You | 😎</marquee>
    <img src="https://cdn4.iconfinder.com/data/icons/education-science-1/1000/Study_Time-512.png" />
    <marquee behavior="scroll" direction="left" scrollamount="12">😎 | Learn School For You | 😎</marquee>
    <hr />
    <div>
        <form asp-controller="Authentication" asp-action="authenticate">
            <input type="text" id="username" name="Username" placeholder="Username" />
            <input type="text" id="password" name="Password" placeholder="Password" />
            <br />
            @*<label for="cars">Choose User Type:</label>
            <select name="userType" id="userType">
                <option value="0">Student</option>
                <option value="1">Guid</option>
                <option value="2">HeadOfDeprament</option>
                <option value="3">Admin</option>
            </select>
            <br />*@

            <button type="submit">Login</button>
        </form>
    </div>

</div>