<style>
    body {
        background-image: url("https://wallpapercave.com/wp/wp7182011.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        background: rgb(255 255 255 / 80%);
    }

    marquee {
        font-size: 1.3em;
        font-weight: 300;
        text-shadow: 0 0 1em snow;
        color: wheat;
        background-color: grey;
        border-radius: 0.5em;
        box-shadow: 0 5px 10px #28292d;
    }

    h1 {
        text-shadow: 0 0 0.3em black;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background: rgb(255 255 255 / 80%);
        color: white;
        width: 780px;
        border-radius: 1em;
        box-shadow: 0 10px 10px #033740;
    }

    img {
        width: 228px;
        height: 220px;
        border-radius: 20px 39px;
        box-shadow: 0 10px 10px #033740;
    }
</style>

<body>
    <center>
        <div class="about-section">
            <marquee behavior="scroll" direction="right">  (סטודנטים/מנחים/ראשי מגמה) ברוכים הבאים</marquee>
            <h1>מערכת לניהול ומעקב אחרי פרויקטים של הנדסאים </h1>


            <table>
                <tr>
                    <td> <img src="https://explore.easyprojects.net/wp-content/uploads/2012/08/project-management-750x504.png"></td>
                    <td><img src="https://3254rj27anay1j1g90r3iti1-wpengine.netdna-ssl.com/wp-content/uploads/2012/03/Project-Management-What-are-Milestones-1065x640.jpg"></td>
                    <td> <img src="https://worldscholarshipforum.com/wealth/wp-content/uploads/sites/4/2021/04/project_management_tools.jpg"></td>

                </tr>
            </table>


        </div>
    </center>


</body>
