<style>
    body {
        background-image: url("https://www.kibrispdr.org/data/work-desk-wallpaper-2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        background: rgb(255 255 255 / 80%);
    }

    h1,h2 {
        text-shadow: 0 0 0.3em black;
    }

    .fakeimg {
        height: 200px;
        background-color: white;
        border-radius: 0 0 10em 10em;
        box-shadow: 0 10px 10px #033740;
        margin: 2em 0;
    }

    .jumbotron {
        background-color: #e9ecefde;
    }
</style>

<body>
    <div class="text-center" style="box-shadow: 0 10px 10px #033740;">
        <div class="jumbotron" style="margin-bottom:0">
            <h1>מערכת לניהול ומעקב אחר פרויקטים של הנדסאים </h1>
            <p><b><i>אייה חבשי -הנדסאים(תוכנה)</i></b></p>
        </div>

        <div style="background-color: #e9ecefde;">
            <center>
                <div class="col-sm-8">
                    <h2>תיאור ורקע כללי</h2>
                    <div class="fakeimg"><img style="height:200px; width:240px" src="https://www.chieflearningofficer.com/wp-content/uploads/sites/3/beans/images/AdobeStock_483799914-8b38574.jpg"></div>

                    <p>
                        מערכת זו מאפשרת מעקב אחרי פרויקטי גמר של סטודנטים בבתי ספר להנדסאים.
                        המערכת מסייעת לנהל את כל שלבי הטיפול בצורת Workflow  בפרויקט, החל משלב ההצעה וכתיבתה ועד לשלב המפגשים השונים עם המנחים השונים ומה בוצע בכל מפגש.
                    </p>
                    <p>המערכת תאפשר שליטה ובקרה על כל היבטי הפרויקט,  כולל הערות המנחים, מה בוצע בכל פגישת הנחיה ומה לבצע לפגישה הבאה באמצעות Action items, מעקב אחרי לוחות זמנים, ומעקב של ראש המגמה אחרי הפרויקטים וההנחיות השונות של כל פרויקט כל זאת עד לסיומו של הפרויקט</p>
                    <br>
                    <p>הארכיטקטורה הנבחרת Model-View-Controller (MVC) : התבנית מתארת טכניקה לחלוקת היישום לשלושה חלקים, מודל, תצוגה ובקר, המחוברים ביניהם בצימוד רפוי מונחה אירועים</p>
                </div>
            </center>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom: 0; box-shadow: 0 10px 10px #033740;">
        <p>><><><><><><><><</p>
    </div>

</body>

